/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'theme';
@reset      : 'theme';

/* Elements */
@button     : 'theme';
@container  : 'theme';
@divider    : 'theme';
@flag       : 'theme';
@header     : 'theme';
@icon       : 'theme';
@image      : 'theme';
@input      : 'theme';
@label      : 'theme';
@list       : 'theme';
@loader     : 'theme';
@rail       : 'theme';
@reveal     : 'theme';
@segment    : 'theme';
@step       : 'theme';

/* Collections */
@breadcrumb : 'theme';
@form       : 'theme';
@grid       : 'theme';
@menu       : 'theme';
@message    : 'theme';
@table      : 'theme';

/* Modules */
@accordion  : 'theme';
@checkbox   : 'theme';
@dimmer     : 'theme';
@dropdown   : 'theme';
@embed      : 'theme';
@modal      : 'theme';
@nag        : 'theme';
@popup      : 'theme';
@progress   : 'theme';
@rating     : 'theme';
@search     : 'theme';
@shape      : 'theme';
@sidebar    : 'theme';
@sticky     : 'theme';
@tab        : 'theme';
@transition : 'theme';

/* Views */
@ad         : 'theme';
@card       : 'theme';
@comment    : 'theme';
@feed       : 'theme';
@item       : 'theme';
@statistic  : 'theme';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */
