<div class="ui stackable grid">
  <div class="ten wide column">
    <p>Applying for <strong>{{humanize-semester model.matriculationSemester}}</strong></p>
    {{#if model.schools}}
      <table class="ui selectable inverted table">
        <thead>
          <tr>
            <th>Schools</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.schools as |school|}}
            <tr>
              <td>{{school.name}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="ui icon info message">
        <i class="university icon"></i>
        <div class="content">
          {{model.firstName}} has no schools yet.
          Search for the first one by clicking the <i>Find school</i> button below.
        </div>
      </div>
    {{/if}}
    {{#link-to 'dashboard.student.find-school' model class="ui large red button"}}Find school{{/link-to}}
  </div>
</div>
