<h5 class="ui blue image header">Billing information</h5>

<div class="fields">
  <div class="thirteen wide field">
    <label for='card[number]'>Card number</label>
    {{field-input inputId='card[number]' inputValue=model.cardNumber
      icon='credit card alternative' placeholder='0000 0000 0000 0000'
      errorMessage=model.validations.attrs.cardNumber.message
      isInvalid=(and didValidate (v-get model 'cardNumber' 'isInvalid'))}}
  </div>
  <div class="three wide field">
    <label for='cvc'>CVC</label>
    {{field-input inputId='cvc' inputValue=model.cvc
      placeholder='CVC'
      errorMessage=model.validations.attrs.cvc.message
      isInvalid=(and didValidate (v-get model 'cvc' 'isInvalid'))}}
  </div>
</div>

{{billing-expiration}}
{{yield}}
