.DS_Store
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
static/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Vim
*.swp
_vimrc_local.vim

.vagrant
.encryption

# Ansible
playbooks/roles/Datadog.datadog
playbooks/roles/kamaln7.swapfile
playbooks/roles/nodesource.node
playbooks/*.retry
# Ignore DO cache files.
*.cache

frontend/node_modules
assets/*.js
assets/*.css
assets/fonts
assets/images/img
assets/images/node_modules

conductor/settings/_*.py
