celery==4.0.2
Django==1.11.8
django-anymail==0.8
django-cors-headers==2.1.0
django-filter==1.1.0
django-localflavor==1.6.1
djangorestframework==3.5.3
djangorestframework-jsonapi==2.3.0
djangorestframework-jwt==1.11.0
requests==2.9.1
rollbar==0.13.11
stripe==1.75.0
wal-e[aws]==1.0.3
