# FIXME: Newer version break becoming the postgres user.
# See https://github.com/ansible/ansible/issues/16048
ansible==2.0.0.2
dopy
factory_boy==2.7.0
flake8
honcho
httpie
# dopy has a bug in the setup.py that is not requiring six.
six
