{% extends "app.html" %}

{% block content %}
  <table class="table">
    <thead>
      <tr class="bg-primary text-white border-0">
        <th class="rounded-left border-0 py-2">Student</th>
        <th class="rounded-right border-0 py-2">Applying for</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td
            {% if forloop.first %}class="border-top-0"{% endif %}
            >{{ student.first_name }} {{ student.last_name }}</td>
          <td
            {% if forloop.first %}class="border-top-0"{% endif %}
            >{{ student.matriculation_semester }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
