<footer>
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="{{ site.baseurl }}{% link index.md %}">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="{{ site.baseurl }}{% link terms.md %}">Terms</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="{{ site.baseurl }}{% link privacy.md %}">Privacy</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="{{ site.baseurl }}app/contact">Contact</a>
      </li>
    </ul>
    <p class="copyright text-muted small">&copy; 2018 Layman College Consulting, LLC.</p>
  </div>
</footer>
{% include javascript.html %}
