<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Your students have important dates to track for all of their college applications. We’ll help you and your students keep up." />

  {% if page.title %}
    <title>{{ page.title }} - College Conductor</title>
  {% else %}
    <title>College Conductor</title>
  {% endif %}

  <meta name="google-site-verification" content="JGmfgo_neyVSGW_l4Z6VqXuq9Sv6FLKA65mfy9F9fJA" />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="College Conductor - Keep students on track for college admissions" />
  <meta property="og:url" content="https://www.collegeconductor.com" />
  <meta property="og:description" content="Your students have important dates to track for all of their college applications. We’ll help you and your students keep up." />
  <meta property="og:site_name" content="College Conductor" />
  <meta property="og:image" content="https://www.collegeconductor.com/img/twitter.png" />
  <meta property="og:image:url" content="https://www.collegeconductor.com/img/twitter.png" />
  <meta property="og:image:secure_url" content="https://www.collegeconductor.com/img/twitter.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="504" />
  <meta property="og:image:height" content="378" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl}}img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl}}img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl}}img/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="{{ site.baseurl}}img/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ site.baseurl}}img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl}}img/favicon/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl}}img/favicon/safari-pinned-tab.svg" color="#ff9d27">
  <meta name="theme-color" content="#ffffff">

  {% css bootstrap %}

  <!-- Custom fonts for this template -->
  {% css fontawesome %}
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  {% css main %}

</head>
