<!-- Header -->
<header class="intro-header overlay">
  <div class="container">
    <div class="intro-message">
      <h1>Keep Students On Track For College Admissions</h1>
      <h3>Admissions is complicated. Help your students manage the process.</h3>
      <hr class="intro-divider">
      <a class="btn btn-warning btn-lg text-white" role="button" href="{{ site.baseurl}}/signup">Start Your Free 14 Day Trial</a>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="content-section-b">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Follow over 2,000 schools</h2>
        <p class="lead">
          College Conductor monitors over 2,000 U.S. colleges and universities.
          We track all the admissions deadlines so you don’t have to.
        </p>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid photo" src="img/university.jpg" alt="">
      </div>
    </div>

  </div>

</section>

<section class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Find what you need</h2>
        <p class="lead">
          Does that school use the <strong>Common App</strong>,
          <strong>Coalition App</strong>,
          <strong>Universal College Application</strong>,
          or a <strong>school application</strong>?
          You won’t need to scour through a cryptic admissions page again.
        </p>

      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
        <img class="img-fluid photo" src="img/search.jpg" alt="">
      </div>
    </div>

  </div>

</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Share with your students</h2>
        <p class="lead">
          Your students can see all their dates when you export
          and share their schedule with them on Google Sheets.
        </p>
      </div>
      <div class="col-lg-5 mr-auto ">
        <img class="img-fluid photo" src="img/students.jpg" alt="">
      </div>
    </div>

  </div>

</section>

<section class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 ml-auto text-center">
        <div class="clearfix"></div>
        <h2 class="section-heading">Ready to begin?</h2>
        <p class="lead">
          <a class="btn btn-warning btn-lg text-white" role="button" href="{{ site.baseurl}}/signup">Start Your Free 14 Day Trial</a>
        </p>
      </div>
    </div>

  </div>

</section>

<aside class="banner overlay">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 my-auto">
        <h2>Connect with<br>College Conductor:</h2>
      </div>
      <div class="col-lg-6 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/collconductor" target="_blank" class="btn btn-primary btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</aside>
<!-- /.banner -->
