<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}{% link index.md %}">
      <img src="{{ site.baseurl }}img/logo.png" width="279" height="108" alt="College Conductor">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-outline-secondary" role="button" href="{{ site.baseurl}}app/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
