<section class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center text-primary">
        <h3 class="mb-4">
          You’re seconds away
          from automatically tracking your students’ most critical dates.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 offset-lg-2 mb-3">
        <div class="card">
          <div class="card-body">
            <form id="signup-form" method="POST" action="" novalidate>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" autofocus required>
                <div class="invalid-feedback">
                  Please enter a username.
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
                <small id="emailHelp" class="form-text text-muted">We&rsquo;ll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" aria-describedby="passwordHelp" required minlength="10">
                <div class="invalid-feedback">
                  Your password must be at least 10 characters.
                </div>
                <small id="passwordHelp" class="form-text text-muted">Please use at least 10 characters.</small>
              </div>
              <div class="form-group">
                <label>Billing information</label>
                <div id="card-element"></div>
                <small id="card-errors" class="form-text text-danger"></small>
              </div>
              <button type="submit" class="btn btn-success btn-lg btn-block mt-3">Start Free Trial</button>
              <small class="form-text text-muted mt-3">
                By continuing,
                you agree to College Conductor&rsquo;s
                <a href="{{ site.baseurl }}{% link terms.md %}" target="_blank">Terms of Service</a>.
              </small>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <h5>Free for 14 days</h5>
        <p>You have unrestricted and <strong>free</strong> access for the next 14 days.</p>
        <hr>
        <h5>Safe and secure</h5>
        <p>We use bank-grade SSL security for your web browser,
           and your data is backed up regularly.
        </p>
        <hr>
        <h5>About billing</h5>
        <p>You will not be charged now. Your card data is <strong>never</strong> stored with us.</p>
        <p><a tabindex="0" href="#" id="why-ask"
              data-toggle="popover" data-trigger="focus" data-container="body"
              data-placement="top" data-html="true"
              title="Credit card info" data-content="
    We ask for your credit card to allow your membership to continue after your free trial, should you choose not to cancel. This also allows us to reduce fraud and prevent multiple free trials for one person. This helps us deliver service for all the honest customers.
    <br>
    <br>
    Your credit card will not be charged at any point of your free trial. You can cancel anytime.
    <br>
    <br>
    We’ll even send you an email three days before your trial is over to remind you it’s about to expire.
    ">Why do we ask?</a></p>
        <p>
          If you love College Conductor as much as we think you will,
          it’s only $9.99/month after your trial ends.
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  {% comment %}
    The JavaScript doesn't go through the Liquid engine so this is attaching
    the environment supplied data via the window.
  {% endcomment %}
  window.stripePublishableKey = '{{ site.stripe_publishable_key }}';
</script>
