<section class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center text-primary">
        <h3 class="mb-4">
          You&rsquo;re seconds away
          from automatically tracking your students&rsquo; most critical dates.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 offset-lg-2">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" autofocus>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We&rsquo;ll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">Please use at least 10 characters.</small>
              </div>
              <button type="submit" class="btn btn-success btn-lg btn-block">Start Free Trial</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <h5>Free for 14 days</h5>
        <p>You have unrestricted and free access for the next 14 days.</p>
        <hr>
        <h5>Safe and secure</h5>
        <p>We use bank-grade SSL security for your web browser.
           Additionally, your data is backed up safely every hour.
        </p>
        <hr>
        <h5>About billing</h5>
        <p>You will not be charged now. TODO: add some copy about when membership starts and the cost. TODO: add copy about not storing card data.</p>
        <p><a href="#" data-tooltip="

    We ask for your credit card to allow your membership to continue after your free trial, should you choose not to cancel. This also allows us to reduce fraud and prevent multiple free trials for one person. This helps us deliver service for all the honest customers.

    Your credit card not be charged at any point of your free trial. You can cancel anytime.

    We’ll even send you an email three days before your trial is over to remind you it’s about to expire.
    ">Why do we ask?</a></p>
      </div>
    </div>
  </div>
</section>
