<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="two wide column"></div>
      <div class="six wide column right aligned">
        <h3 class="ui header">Keep up with over 2000 schools</h3>
        <p>
          College Conductor monitors over 2000 US colleges and universities.
          We track all the admissions deadlines so you don’t have to.
        </p>
      </div>
      <div class="seven wide right floated column">
        <i class="massive university icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="two wide column"></div>
      <div class="six wide column right aligned">
        <i class="massive google icon"></i>
      </div>
      <div class="seven wide right floated column">
        <h3 class="ui header">Share with your students</h3>
        <p>
          Your students can see all their dates
          when you export and share their schedule with them
          on Google Sheets or Microsoft Excel.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="two wide column"></div>
      <div class="six wide column right aligned">
        <h3 class="ui header">Find what you need</h3>
        <p>
          Does that school use the <strong>Common App</strong>
          or a <strong>school application</strong>?
          You won’t need to scour through a cryptic admissions page again.
        </p>
      </div>
      <div class="seven wide right floated column">
        <i class="massive search icon"></i>
      </div>
    </div>
  </div>
</div>
