<div class="ui stackable grid">
  <div class="three wide column">
    <div class="ui vertical pointing secondary menu">
      {{#link-to 'index' class="item" activeClass="orange active"}}Dashboard{{/link-to}}
      {{#link-to 'index.students.new' class="item" activeClass="orange active"}}Add a student{{/link-to}}
    </div>
  </div>
  <div class="thirteen wide column">
    {{outlet}}
  </div>
</div>
