{% extends "base.html" %}

{% block title %}Account deactivated{% endblock %}

{% block base-content %}
<div class="container h-75">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h2 class="text-primary">Your account is now deactivated</h2>
          <p>
            We are sorry to see you go!
          </p>
          <p>
            Your subscription to College Conductor was canceled successfully.
            You will not receive any future charges on your account.
          </p>
          <p>
            If you wish to reactivate your account,
            please contact support.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
