{% extends "app.html" %}
{% load waffle_tags %}

{% block title %}Settings{% endblock %}

{% block content %}
  <h2 class="text-primary mb-2">Settings</h2>
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-sm-9">
        <hr>
        <div class="card my-3">
          <h5 class="card-header">
            Google Drive
          </h5>
          <div class="card-body">
            <p class="card-text">
              To export your student’s school list to Google Drive Sheets,
              we need your permission from Google. This is only required once.
            </p>
            {% if user.has_google_drive_auth %}
              <div class="alert alert-success mb-0">
                <i class="fa fa-lg fa-check text-success"></i> Google Drive is authorized.
              </div>
            {% else %}
              <a class="btn btn-primary" href="{% url "authorize-google" %}">Authorize Google Drive</a>
            {% endif %}
          </div>
        </div>

        {% flag "deactivate_flag" %}
          <div class="card border-danger">
            <h5 class="card-header text-danger">
              Deactivate Account
            </h5>
            <div class="card-body">
              <p class="card-text">
                If you deactivate your account,
                we will halt your subscription
                and you will no longer be charged
                for College Conductor.
                Please contact Support
                if you wish to reactivate your account.
              </p>
              <p class="card-text">
                To confirm your account deactivation,
                please enter your email: <strong>{{ user.email }}</strong>
              </p>
              <form method="POST" action="{% url "deactivate" %}">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <button class="btn btn-danger" type="submit">Deactivate Account</button>
              </form>
            </div>
          </div>
        {% endflag %}

      </div>
    </div>
  </div>
{% endblock %}
