---
- name: Install Supervisor
  become: yes
  apt: name=supervisor state=present

- name: Install Nginx
  become: yes
  apt: name=nginx-core state=present
  notify:
    - Start Nginx

- name: Install uWSGI
  become: yes
  apt: name={{ item }} state=present
  with_items:
    - uwsgi
    - uwsgi-plugin-python3

- name: Install Git
  become: yes
  apt: name=git state=present

- name: Install Psycopg2
  become: yes
  apt: name=python3-psycopg2 state=present

- name: Install Gulp
  become: yes
  npm: name=gulp state=present global=yes

- name: Install Python package tools
  become: yes
  apt: name={{ item }} state=present
  with_items:
    - python3-pip
    - python-virtualenv

- name: Install fail2ban
  become: yes
  apt: name=fail2ban state=present

- name: Install NTP
  become: yes
  apt:
    name: ntp
    state: present

- name: Permit HTTP traffic
  become: yes
  ufw: rule=allow port=http proto=tcp

- name: Permit SSH traffic
  become: yes
  ufw: rule=allow port=ssh proto=tcp

- name: Enable the firewall
  become: yes
  ufw: state=enabled

- template: src=jail.local.j2 dest=/etc/fail2ban/jail.local
  become: yes
  notify:
    - Restart fail2ban

- name: Create resource account
  become: yes
  user: name=conductor createhome=no state=present

- name: Create root .ssh directory
  become: yes
  file: path=/root/.ssh owner=root group=root mode=0700 state=directory

- name: Add ssh private key
  become: yes
  copy: content="{{ ssh_private_key }}" dest=/root/.ssh/id_rsa mode="u=rw,g=,o="

- name: Create app directory
  become: yes
  file: path={{ app_path }} state=directory

- name: Fetch from GitHub
  become: yes
  git: repo=git@github.com:mblayman/conductor.git dest={{ app_path }} accept_hostkey=yes
  notify:
    - Restart application

- name: Install Python dependencies
  become: yes
  pip: >
    requirements={{ app_path }}/requirements.txt
    virtualenv={{ venv_path }}
    virtualenv_site_packages=yes
    virtualenv_python=python3
  notify:
    - Collect static files
    - Restart application

- name: Install Bundler
  become: yes
  apt: name=bundler state=present

- name: Install Jekyll dependencies
  become: yes
  bundler:
    state: present
    deployment_mode: True
    chdir: "{{ landing_path }}"

- name: Install Jekyll Assets dependencies
  become: yes
  command: npm install --unsafe-perm
  args:
    chdir: "{{ landing_path }}"

# This needs to stay above the Ember build or else the app directory
# gets wiped out and stays gone.
- name: Build the static site
  become: yes
  command: bundle exec jekyll build
  args:
    chdir: "{{ landing_path }}"
  environment:
    API_HOST: "{{ api_host }}"
    JEKYLL_ENV: "production"
    STRIPE_PUBLISHABLE_KEY: "{{ stripe.publishable_key }}"

- name: Install Ember dependencies
  become: yes
  command: npm install --unsafe-perm
  args:
    chdir: "{{ ember_app_path }}"

- name: Build Semantic UI
  become: yes
  command: gulp build
  args:
    chdir: "{{ ember_app_path }}/vendor/semantic"

- name: Deploy the Ember app
  become: yes
  command: "{{ ember_app_path }}/node_modules/ember-cli/bin/ember deploy production"
  args:
    chdir: "{{ ember_app_path }}"
  environment: "{{ ember_env }}"

- name: Enable supervisor
  become: yes
  service: name=supervisor enabled=yes state=started

- template: src=supervisord.conf.j2 dest=/etc/supervisor/supervisord.conf
  become: yes
  notify:
    - Restart Supervisor

- template: src=conductor.conf.j2 dest=/etc/supervisor/conf.d/conductor.conf
  become: yes
  notify:
    - Restart Supervisor

- name: Provide environment for manage.py commands
  template: src=env.j2 dest=/srv/.env
  become: yes

- name: Create /var/www
  become: yes
  file: state=directory path=/var/www owner=root group=www-data mode=0750

- name: Create STATIC_ROOT
  become: yes
  file: state=directory path={{ django_env.STATIC_ROOT }}
        owner=www-data group=www-data mode=0750

- name: Migrate the database
  become: yes
  django_manage: command=migrate app_path={{ app_path }} virtualenv={{ venv_path }}
  environment: "{{ django_env }}"
