<div class="form-group {{ form_group_class }}">
  <label for="{{ field.name }}-label">{{ field.label }}</label>
  <input class="form-control" id="{{ field.name }}" name="{{ field.name }}"
    type="{{ field.field.widget.input_type }}"
    {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
    {% if field.value %}value="{{ field.value }}"{% endif %}
    {% if autofocus %}autofocus="autofocus"{% endif %}
  >
  {% if field.errors %}
    {% for error in field.errors %}
      <small class="form-text text-danger">{{ error }}</small>
    {% endfor %}
  {% endif %}
</div>
