<div class="ui left {{if icon "icon"}} input">
  {{#if icon}}
    <i class="{{icon}} icon"></i>
  {{/if}}
  {{input id=inputId placeholder=placeholder value=inputValue type=inputType}}
</div>
{{#if errorMessage}}
  <div class="ui left error message">
    <p>{{errorMessage}}</p>
  </div>
{{/if}}
