<div class="ui left icon input">
  <i class="{{icon}} icon"></i>
  {{input id=inputId placeholder=placeholder value=inputValue type=inputType}}
</div>
{{#if errorMessage}}
  <div class="ui left error message">
    <p>{{errorMessage}}</p>
  </div>
{{/if}}
