server {
    listen 80;
    listen 443 ssl http2;
    server_name  {{ root_domain }};

    ssl_certificate {{ cert_dir }}/fullchain.pem;
    ssl_certificate_key {{ cert_dir }}/privkey.pem;

    return       301 $scheme://{{ client_domain }}$request_uri;
}

server {
    listen 80;
    listen 443 ssl http2;
    server_name  {{ client_domain }};

    ssl_certificate {{ cert_dir }}/fullchain.pem;
    ssl_certificate_key {{ cert_dir }}/privkey.pem;

    root         {{ client_root }};
    index        index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}

server {
    listen 80;
    listen 443 ssl http2;
    server_name  {{ api_domain }};

    ssl_certificate {{ cert_dir }}/fullchain.pem;
    ssl_certificate_key {{ cert_dir }}/privkey.pem;

    # Using a common root with the client for Let's Encrypt.
    root         {{ client_root }};

    location ~ /.well-known {
        allow all;
    }

    location {{ django_env.STATIC_URL }} {
        alias {{ django_env.STATIC_ROOT }};
    }

    location / {
        uwsgi_pass  unix:///tmp/conductor-uwsgi.sock;
        include     uwsgi_params;
    }
}
