@import 'base';
@import 'definitions/globals/site';

body {
    background-color: @black;
}

.masthead.segment {
  min-height: 475px;
  padding: 1em 0em;
}
.masthead.ui.inverted.segment {
  background: @black;
  background: linear-gradient(20deg, @lightGreyDown, darken(@blue, 10));
  border-top: 1px solid darken(@blue, 20);
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-size: 3.5em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* TODO: Why is this not showing up? Is it a 2.2 styling? */
.ui.vertical.stripe {
  padding: 2em 0 4em 0;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.application-container {
  min-height: 600px;
}
