{% extends "app.html" %}

{% block title %}Add School{% endblock %}

{% block content %}
  <h2 class="text-primary">Add School for {{ student }}</h2>
  <form>
    <div class="input-group">
      <input
        class="form-control py-2 border-right-0 border" type="search"
        name="q" value="{% if q %}{{ q }}{% endif %}"
        autofocus="autofocus" placeholder="Enter a school name...">
      <div class="input-group-append">
        <button class="btn btn-primary border-left-0 border" type="submit">
          <i class="fa fa-search"></i> Search
        </button>
      </div>
    </div>
  </form>

  {% if form.errors %}
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-9">
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if q %}
    {% if schools %}
      <table class="table mt-4">
        <tbody>
          {% for school in schools %}
            <tr>
              <td class="w-75 align-middle">{{ school }}</td>
              <td class="w-25">
                <form action="" method="POST">
                  {% csrf_token %}
                  <input name="school" type="hidden" value="{{ school.id }}">
                  <button class="btn btn-primary btn-block" type="submit">Select</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="mt-4">Sorry, no schools match “{{ q }}.”</p>
    {% endif %}
  {% endif %}
{% endblock %}
