{% extends "app.html" %}

{% block title %}{{ student }}{% endblock %}

{% block content %}
  <h2 class="text-primary">{{ student }}</h2>
  <div class="container-fluid px-0 mb-3">
    <div class="row">
      <div class="col-sm-6">
        <p>Applying for <strong>{{ student.matriculation_semester }}</strong></p>
      </div>
      <div class="col-sm-6 text-sm-right">
        <p>
          <a class="btn btn-primary" href="{% url "add-school" student.id %}">Add school</a>
          <a class="ml-2" href="{% url "export-schedule" student.id %}">Export to Google Sheets</a>
        </p>
      </div>
    </div>
  </div>


  {% if schools %}
    <div class="table-responsive">
      <table class="table mb-3" id="schools">
        <thead>
          <tr class="bg-light text-primary">
            <th class="rounded-left">School</th>
            <th>ED</th>
            <th>ED II</th>
            <th>EA</th>
            <th>REA</th>
            <th class="rounded-right">RD</th>
          </tr>
        </thead>
        <tbody>
          {% for school in schools %}
            <tr>
              <td><a href="{% url "school-detail" school.slug %}">{{ school }}</a></td>
              <td>{{ school.early_decision|default_if_none:'' }}</td>
              <td>{{ school.early_decision_2|default_if_none:'' }}</td>
              <td>{{ school.restricted_early_action|default_if_none:'' }}</td>
              <td>{{ school.early_action|default_if_none:'' }}</td>
              <td>{{ school.regular_decision|default_if_none:'' }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="container-fluid px-0 pt-4">
      <div class="row justify-content-center">
        <div class="col-sm-7">
          <p class="text-center mb-4">
            <i class="fa fa-4x fa-university rounded-circle bg-orange text-white p-4 shadow"></i>
          </p>
          <h3 class="text-secondary">{{ student }} has no schools yet.</h3>
          <p>
            You can add schools for {{ student.first_name }}
            by clicking the “Add school” button.
          </p>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block entry %}
  <script>
    start('studentProfile', {
    });
  </script>
{% endblock %}
