<div class="ui stackable grid">
  <div class="three wide column">
    <div class="ui vertical pointing secondary menu">
      {{#link-to 'dashboard.index' class="item"}}Dashboard{{/link-to}}
      {{#link-to 'dashboard.students.new' class="item"}}Add a student{{/link-to}}
    </div>
  </div>
  <div class="thirteen wide column">
    {{outlet}}
  </div>
</div>
