<div class="ui stackable grid container">
  <div class="four wide column">
    <div class="ui large vertical menu">
      <div class="item">
        <div class="header">Quick actions</div>
        <div class="menu">
          <a class="item">Add a student</a>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    {{outlet}}
  </div>
</div>
