{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top navbar-conductor">
  <div class="container">
    <a class="navbar-brand" href="{% url "index" %}">
      <img src="{% static "images/logo.png" %}" width="279" height="108" alt="College Conductor">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
            </li>
          {% endif %}
          {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "tools-dashboard" %}">Tools</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "dashboard" %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "login" %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="{% url "signup" %}">Sign up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
