[program:conductor]
command=/usr/bin/uwsgi
    --plugin python3
    --socket /tmp/conductor-uwsgi.sock
    --module conductor.wsgi:application
    --enable-threads
    --single-interpreter
    --master
    --pythonpath {{ app_path }}
    --processes 4
    --virtualenv {{ venv_path }}
directory={{ app_path }}
user=www-data
autostart=true
autorestart=true
stdout_logfile=/var/log/conductor.log
redirect_stderr=true
stopsignal=QUIT
environment=
{% for env_var, env_value in django_env|dictsort %}
    {{ env_var }} = {{ env_value }},
{% endfor %}
