{{#if model}}
  <div class="ui cards">
    {{#each model as |student|}}
      {{#link-to 'dashboard.student' student class="red card"}}
        <div class="content">
          <div class="header">{{student.firstName}} {{student.lastName}}</div>
          <div class="description">TODO: replace with formatted semester</div>
        </div>
        <!-- TODO: Use the proper route. -->
        {{#link-to 'dashboard.students.new' class="ui button attached bottom"}}
          <i class="add green icon"></i> Add School
        {{/link-to}}
      {{/link-to}}
    {{/each}}
  </div>
{{else}}
  <div class="ui stackable centered grid">
    <div class="ten wide column">
      <h1>No students? Inconceivable!</h1>
      <p>College Conductor is built around students
        so you’re going to need some.
        Once you have a student to work with,
        you can focus on adding schools
        that the student is interested in.
      </p>
      <p>Let’s get you started!</p>
      {{#link-to 'dashboard.students.new' class="ui large red button"}}Add a student{{/link-to}}
    </div>
  </div>
{{/if}}
