<footer>
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="{% url "index" %}">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&middot;</li>
      <li class="list-inline-item">
        <a href="{% url "terms" %}">Terms</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&middot;</li>
      <li class="list-inline-item">
        <a href="{% url "privacy" %}">Privacy</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&middot;</li>
      <li class="list-inline-item">
        <a href="{% url "contact" %}">Contact</a>
      </li>
    </ul>
    <p class="copyright text-muted small">&copy; {% now "Y" %} Layman College Consulting, LLC.</p>
  </div>
</footer>
