{% extends "legal.html" %}

{% block content %}
  <h1 id="terms-of-service">Terms of Service</h1>

  <p><strong>Last updated:</strong> May 11, 2016.</p>

  <p>Please read these Terms of Service (“Terms”, “Terms of Service”)
  carefully before using the <a href="https://www.collegeconductor.com">https://www.collegeconductor.com</a> website
  (the “Service”) operated by Layman College Consulting, LLC.
  (“us”, “we”, or “our”).</p>

  <p>Your access to and use of the Service is conditioned on your
  acceptance of and compliance with these Terms. These Terms apply to
  all visitors, users and others who access or use the Service.</p>

  <p>By accessing or using the Service you agree to be bound by these Terms.
  If you disagree with any part of the terms then you may not access the
  Service.</p>

  <h3 id="termination">Termination</h3>

  <p>We may terminate or suspend access to our Service immediately,
  without prior notice or liability, for any reason whatsoever,
  including without limitation if you breach the Terms.</p>

  <p>All provisions of the Terms which by their nature should survive
  termination shall survive termination, including, without limitation,
  ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

  <h3 id="links-to-other-web-sites">Links To Other Web Sites</h3>

  <p>Our Service may contain links to third­party web sites or services
  that are not owned or controlled by Layman College Consulting, LLC.</p>

  <p>Layman College Consulting, LLC. has no control over, and assumes
  no responsibility for, the content, privacy policies, or practices of
  any third party web sites or services. You further acknowledge and
  agree that Layman College Consulting, LLC. shall not be responsible
  or liable, directly or indirectly, for any damage or loss caused
  or alleged to be caused by or in connection with use of or reliance
  on any such content, goods or services available on or through any
  such web sites or services.</p>

  <p>We strongly advise you to read the terms and conditions and
  privacy policies of any third­party web sites or services that you visit.</p>

  <h3 id="governing-law">Governing Law</h3>

  <p>These Terms shall be governed and construed in accordance with the
  laws of the United States of America without regard to its conflict
  of law provisions.</p>

  <p>Our failure to enforce any right or provision of these Terms will not
  be considered a waiver of those rights. If any provision of these
  Terms is held to be invalid or unenforceable by a court, the
  remaining provisions of these Terms will remain in effect. These
  Terms constitute the entire agreement between us regarding our Service,
  and supersede and replace any prior agreements we might have between
  us regarding the Service.</p>

  <h3 id="changes">Changes</h3>

  <p>We reserve the right, at our sole discretion, to modify or replace
  these Terms at any time. If a revision is material we will try to
  provide at least 30 days notice prior to any new terms taking effect.
  What constitutes a material change will be determined at our sole discretion.</p>

  <p>By continuing to access or use our Service after those revisions
  become effective, you agree to be bound by the revised terms.
  If you do not agree to the new terms, please stop using the Service.</p>

  <h3 id="contact-us">Contact Us</h3>

  <p>If you have any questions about these Terms,
  please <a href="{% url "contact" %}">contact us</a>.</p>
{% endblock %}
