<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <h1 class="ui inverted header">
        Keep Students On Track<br>For College Admissions
      </h1>
      <h2>Admissions is complicated. Help your students manage the process.</h2>
    </div>

</div>
