[program:celery]
command=/srv/apps/conductor.pyz celery
    --loglevel INFO
    --concurrency 2
    --beat
    --schedule /tmp/celerybeat-schedule
    --pidfile /tmp/celerybeat.pid
directory=/srv/apps
user=www-data
autostart=true
autorestart=true
stdout_logfile=/var/log/celery.log
redirect_stderr=true
stopsignal=QUIT
environment=
    CELERY_WORKER_RUNNING="true",
{% for env_var, env_value in django_env|dictsort %}
    {{ env_var }}="{{ env_value }}",
{% endfor %}
