[program:celery]
command={{ venv_path }}/bin/celery worker
    --app conductor:celeryapp
    --loglevel INFO
    --concurrency 2
directory={{ app_path }}
user=www-data
autostart=true
autorestart=true
stdout_logfile=/var/log/celery.log
redirect_stderr=true
stopsignal=QUIT
environment=
{% for env_var, env_value in django_env|dictsort %}
    {{ env_var }} = {{ env_value }},
{% endfor %}
