<h2>Find a school for {{model.firstName}} {{model.lastName}}</h2>

<form {{action 'submit' on='submit'}} class="ui form">

  <div class="eight wide field">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" placeholder="Search schools..." type="text">
        <i class="search icon"></i>
      </div>
    </div>
  </div>

  <button type="submit" class="ui red submit button">Search</button>
</form>

<div class="ui two column padded centered grid">
  <div class="row">
    <div class="center aligned column">
      <i class="massive grey university icon"></i>
    </div>
  </div>
  <div class="row">
    <div class="center aligned column">
      Begin
      by typing the school name
      in the search bar.
    </div>
  </div>
</div>
