<h2>Find a school for {{model.firstName}} {{model.lastName}}</h2>

<form {{action 'submit' on='submit'}} class="ui form">

  <div class="eight wide field">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" placeholder="Search schools..." type="text">
        <i class="search icon"></i>
      </div>
    </div>
  </div>

  <button type="submit" class="ui red submit button">Search</button>
</form>
