<div class="ui middle aligned center aligned stackable grid">
  <div class="eight wide column">
    <h2 class="ui red image header">Login to your account</h2>
    <form {{action 'authenticate' on='submit'}} class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
<!--   <label for="identification">Login</label> -->
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{input id='identification' placeholder='Username' value=identification}}
          </div>
        </div>
        <div class="field">
<!--   <label for="password">Password</label> -->
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{input id='password' placeholder='Password' type='password' value=password}}
          </div>
        </div>
        <button type="submit" class="ui fluid large red submit button">Login</button>
      </div>
      {{#if errorMessage}}
        <div class="ui error message">{{errorMessage}}</div>
      {{/if}}
    </form>

    <div class="ui message">
      New to us?
      {{#link-to 'signup'}}Sign Up{{/link-to}}
    </div>
  </div>
</div>
